.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0;
}

.icon__wrapper {
    margin: 0.5rem 1rem;
}

.icon {
    min-width: 32px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text-black);
}

.desc {
    font-size: 14px;
    color: #112231cc;
}

.show__btn {
    border-radius: 1.5rem;
    font-size: 0.75rem;
    line-height: 2;
    font-weight: 700;
    border: 0;
    text-align: center;
    padding: 0 0.5rem;
    background-color: #016b83;
    color: #fff;
    cursor: pointer;
}
