.container {
    max-width: 86rem;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    cursor: pointer;
    font-size: 20px;
}
